{% if session['role']== "patient"%}
    {% include 'phead.html' %}
{% endif %}
{% if session['role']== "admin"%}
    {% include 'ahead.html' %}
{% endif %}
{% if session['role']== "doctor"%}
    {% include 'dhead.html' %}
{% endif %}
<div class="card">
     <div class="title"> View Booked Details </div>
     <div class="row ">
        <div class="w-20">
            <div class="">Slot number: {{slot['slot_number']}} </div>
        </div>
        <div class="w-20">
            {{slot['slot_start_time']}} - {{slot['slot_end_time']}}
        </div>
        <div class="w-20">
            <div class="">Appointment Date :{{appointment['appointment_date'].strftime("%d-%m-%Y")}}  </div>
        </div>
        <div class="w-20">
            <div class="">Appointment type : {{appointment['appointment_type']}} </div>
        </div>
         <div class="w-20">
            <div class="">Vaccine : {{vaccine['name']}} </div>
        </div>
         {% if doctor!=None %}
            <div class="w-20">
                <div class="">Doctor : {{doctor['first_name']}} {{doctor['last_name']}} </div>
            </div>
         {% endif %}
     </div>
</div>
<div class="w-30 mt-100 ml-500">Total Price:-$ {{appointment['price']}}</div>
<div class="card w-30 ml-500">
    <div class="title">Enter Card Details</div>
    <div class="">
        <form action="book_slot2" method="post">
            <input type="hidden" name="appointment_id" value="{{appointment['_id']}}">
                <input type="hidden" name="price" value="{{appointment['price']}}">
            <div class="">
                <div for="card_type" class="">Card Type</div>
                <select id="card_type" name="card_type" class="w-100 p-2px" required>
                    <option value="Debit Card">Debit Card</option>
                    <option value="Credit Card">Credit Card</option>
                </select>
            </div>
            <div class="">
                <div class="">
                    <div for="card_number" class="">Card Number</div>
                </div>
                <input type="number" id="card_number"  name="card_number" class="w-100 p-2px" placeholder="Enter Card Number" required>
            </div>
             <div class="">
                <div class="">
                    <div for="name_on_card" class="">Name On Card</div>
                </div>
                <input type="text" id="name_on_card"  name="name_on_card" class="w-100 p-2px" placeholder="Enter Name On Card" required>
             </div>
             <div class="">
                <div class="">
                    <div for="cvv" class="">CVV</div>
                </div>
                <input type="number" id="cvv"  name="cvv" class="w-100 p-2px" placeholder="Enter CVV Number" required>
             </div>
            <div class="">
                <div class="">
                    <div for="expiry_date" class="">Expiry Date</div>
                </div>
                <input type="text" id="expiry_date"  name="expiry_date" class="w-100  p-2px" placeholder=" MM/YY" required>
             </div>
            <div><input type="submit" class="button" value="PAY NOW" required></div>
        </form>
    </div>
</div>