<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctor Record</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/utilities.css">
     <link rel="stylesheet" href="../static/css/forms.css">
     <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/units.css">
</head>
<nav class="navbar">
    <div class="nav-left">
        Hospital Doctor Appointment
    </div>
    <div class="nav-right">
        <div class=""><a class="link" href="/doctor_home">Doctor Home</a></div>
        <div class=""><a class="link" href="/doctor_timings">Timings</a></div>
        <div class=""><a class="link" href="/slots?appointment_type=doctor">Slots</a></div>
        <div class=""><a class="link" href="/logout">Logout</a></div>
    </div>
</nav>
</html>