{% include 'head.html' %}
<div class="">
    <div class=""></div>
    <div class="">
        <div class="card w-20 m-100">
            <form action="patient_login_action" method="post">
                <div class="title"> Patient Login</div>
                <div class="user-input">
                        <div class="">
                            <div class="email">
                                <div class="row mt-5">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/></svg>
                                    </div>
                                    <div for="email" class="label-1">Email</div>
                                </div>
                                <input type="email" id="email"  name="email" class="w-100 p-2px" placeholder="Enter Email" required>
                            </div>
                            <div class="password">
                                <div class="row mt-5">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16"><path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/><path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/></svg>
                                    </div>
                                    <div for="password" class="label-2">Password</div>
                                 </div>
                                <input type="password" id="password"  name="password" class="w-100 p-2px" placeholder="Enter password" required>
                            </div>
                        </div>
                </div>
                <div><input type="submit" class="button" value="LOGIN"></div>
                <div class="user-bottom"><label>Don't Have an account ? </label><a class="register-link" href="/patient_register">Register Now</a></div>
            </form>
        </div>
    </div>
</div>
