<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctor Record</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/utilities.css">
     <link rel="stylesheet" href="../static/css/forms.css">
     <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/units.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
                Hospital Doctor Record
        </div>
        <div class="nav-right">
            <div class=""><a class="link" href="/patient_home">Patient Home</a></div>
            <div class=""><a class="link" href="/add_view_vaccines">Vaccines</a></div>
            <div class=""><a class="link" href="/view_appointment">Appointment</a></div>
            <div class=""><a class="link" href="/logout">Logout</a></div>
        </div>
    </nav>
</body>
</html>