{% if session['role']== "patient"%}
    {% include 'phead.html' %}
{% endif %}
{% if session['role']== "admin"%}
    {% include 'ahead.html' %}
{% endif %}
{% if session['role']== "doctor"%}
    {% include 'dhead.html' %}
{% endif %}
<div class="row space-around mt-10">
    <div class="w-20">
        {% if doctor!=None: %}
            <div class="">{{doctor['name']}}</div>
        {% endif %}
        {% if vaccine!=None: %}
            <div class="">{{vaccine['name']}}</div>
        {% endif %}
    </div>
    <div class="w-20">
        <form action="slots" class="">
            <input type="hidden" name="vaccine_id" value="{{vaccine_id}}">
            <input type="hidden" name="doctor_id" value="{{doctor_id}}">
            <input type="hidden" name="appointment_type" value="{{appointment_type}}">
            <input type="date" class="form-input" name="appointment_date" value="{{appointment_date}}" onchange="this.form.submit()">
        </form>
    </div>
</div>
<div class="row">
    {% if len(slots)>0 %}
        {% for slot in slots %}
        {% set is_booked = is_slot_booked_on_date(slot['_id'],appointment_date)%}
        <div class="w-15 con-sp-ar ml-20 mt-10 ">
        <div class="card bg-green text-white">
                <div>
                    {{slot['slot_start_time']}} - {{slot['slot_end_time']}}
                </div>
                <div>
                    <div class=" ">Slot Number:- {{slot['slot_number']}}</div>
                </div>
                 {% if is_booked %}
                    {% if session['role'] =='admin' or session['role']=='doctor' %}
                    <div class="mt-20 text-center">
                        <a href="view_appointment?slot_id={{slot['_id']}}&appointment_date={{appointment_date}}" class="button link bg-white">View Appointment</a>
                    </div>
                    {% else %}
                        <div class="mt-25 text-center">Not Available</div>
                    {% endif %}
                 {% else %}
                     {% if session['role']=='patient'%}
                        {% if vaccine['is_prescription_needed']=='yes'%}
                            <div class="text-center mt-20">
                                <form action="book_slot" method="post">
                                     <input type="hidden" name="slot_id" value="{{slot['_id']}}">
                                     <input type="hidden" name="vaccine_id" value="{{vaccine_id}}">
                                     <input type="hidden" name="doctor_id" value="{{doctor_id}}">
                                     <input type="hidden" name="appointment_type" value="{{appointment_type}}">
                                     <input type="hidden" name="appointment_date" value="{{appointment_date}}">
                                     <input type="submit" class="button-2" value="Book Doctor">
                                </form>
                            </div>
                        {% else %}
                            <form action="book_slot" method="post">
                                 <input type="hidden" name="slot_id" value="{{slot['_id']}}">
                                 <input type="hidden" name="vaccine_id" value="{{vaccine_id}}">
                                 <input type="hidden" name="doctor_id" value="{{doctor_id}}">
                                 <input type="hidden" name="appointment_type" value="{{appointment_type}}">
                                 <input type="hidden" name="appointment_date" value="{{appointment_date}}">
                                 <input type="submit" class="button-2" value="Book">
                            </form>
                        {% endif %}
                     {% else %}
                        <div class="mt-25 text-center">Available</div>
                     {% endif %}
                 {% endif %}
        </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="w-100 mt-50" style="color:red;font-size:150%;text-align:center;">Slots Not Available On {{appointment_date}}</div>
    {% endif %}
</div>
