{% if session['role']== "patient"%}
    {% include 'phead.html' %}
{% endif %}
{% if session['role']== "doctor"%}
    {% include 'dhead.html' %}
{% endif %}
{% if session['role']== "admin"%}
    {% include 'ahead.html' %}
{% endif %}
<div class="card w-30 bg-green  m-auto m-100 text-white">
    <h1>Doctor Prescription</h1>
     <div class="w-45">
        <div class="item-text-small">Prescribed Date</div>
        <div class="item-text-large">{{prescription['date'].strftime("%d-%m-%Y %I:%M %p")}}</div>
     </div>
    <div class="w-45">
        <div class="item-text-small">Prescription:-</div>
        <div class="item-text-large">{{prescription['prescription']}}</div>
    </div>
</div>