{% include 'ahead.html' %}
<div class="bg-img">
    <div class="row">
        <div class="c1 col-30 p-20px">
            <div class="card title w-100  ml-30">
                {% if officer['_id'] == None %}
                Add Officer Details
                {% else %}
                Update Officer Details
                {% endif %}
                <form action="add_view_officer_action" method="post">
                    <input type="hidden" name="officer_id" value="{{officer['_id']}}">
                    <div class="">
                        <div class="name mt-10 ">
                            <div class="row mt-10">
                                 <div for="first_name" class="label-1">First Name</div>
                            </div>
                            <input type="text" id="first_name"  name="first_name" class="placeholder-box" value="{{officer['first_name']}}" placeholder="Enter First Name" required>
                        </div>
                        <div class="name mt-10 ">
                            <div class="row mt-10">
                                 <label for="last_name" class="label-1">Last Name</label>
                            </div>
                            <input type="text" id="last_name"  name="last_name" class="placeholder-box" value="{{officer['last_name']}}" placeholder="Enter Last Name" required>
                        </div>
                        <div class="ssn mt-10 ">
                            <div class="row mt-10">
                                 <label for="ssn" class="label-1">SSN</label>
                            </div>
                            <input type="text" id="ssn"  name="ssn" class="placeholder-box" placeholder="Enter SSN" value="{{officer['ssn']}}" required>
                       </div>
                        <div class="email mt-10">
                            <div class="row mt-10">
                                <label for="email" class="label-1">Email</label>
                            </div>
                            <input type="email" id="email"  name="email" class="placeholder-box" placeholder="Enter Email" value="{{officer['email']}}" required>
                        </div>
                            <div class="mt-10">
                                 <div>
                                    <label>Gender</label>
                                    <input type="radio" id="gender" name="gender" value="male"  {% if officer['gender'] =='male' %}  checked {% endif %}> <label for="gender">Male</label>
                                    <input type="radio" id="gender2" name="gender" value="female"  {% if officer['gender'] =='female' %}  checked {% endif %} > <label for="gender2">Female</label>
                                 </div>
                            </div>
                        <div class="phone mt-10">
                            <div class="row mt-10">
                                <label for="phone" class="">Phone Number</label>
                            </div>
                            <input type="number" id="phone"  name="phone" class="placeholder-box" placeholder="Enter Phone Number" value="{{officer['phone']}}" required>
                        </div>
                        <div class="dob mt-10 ">
                            <div class="row bt-5">
                                <label for="dob" class="">DOB</label>
                            </div>
                            <input type="date" id="dob" max="2004-05-05"  name="dob" class="placeholder-box" placeholder="Enter DOB" value="{{officer['dob']}}" required>
                        </div>
                        <div class="city mt-10">
                            <div class="row mt-10">
                                <label for="city" class="">City</label>
                            </div>
                            <input type="text" id="city"  name="city" class="placeholder-box" placeholder="Enter City" value="{{officer['city']}}" required>
                        </div>
                        <div class="state mt-10">
                            <div class="row mt-10">
                                <label for="state" class="">State</label>
                            </div>
                            <input type="text" id="state"  name="state" class="placeholder-box" placeholder="Enter state" value="{{officer['state']}}" required>
                        </div>
                        <div class="state mt-10">
                            <div class="row mt-10">
                                <label for="zipcode" class="">Zipcode</label>
                            </div>
                            <input type="number" id="zipcode"  name="zipcode" class="placeholder-box" placeholder="Enter Zipcode" value="{{officer['zipcode']}}" required>
                        </div>
                        <div class="address mt-10 ">
                            <div class="row mt-10">
                                 <label for="address" class="label-1">Address</label>
                            </div>
                            <input type="text" id="address"  name="address" class="placeholder-box" placeholder="Enter Address" value="{{officer['address']}}" required>
                       </div>
                        <div>
                            <input type="submit" class="button"  {% if officer['_id'] == None %} value="Add" {% else %} value="Update" {% endif %} required>
                        </div>
                        <div class="t-msg">{{message}}</div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-70">
            <div class="">
                <div class="row">
                    {% for officer in officers %}
                    <div class="w-30">
                        <div class="card mt-70 ml-50">
                            <div class="mt-10">
                                <div class="card-label">Name</div>
                                <div class="card-text">{{officer['first_name']}} {{officer['last_name']}}</div>
                            </div>
                            <div class="mt-10">
                                <div class="card-label">SSN</div>
                                <div class="card-text">{{officer['ssn']}}</div>
                            </div>
                            <div class="mt-10">
                                <div class="card-label">Email</div>
                                <div class="card-text">{{officer['email']}}</div>
                            </div>
                            <div class="mt-10">
                                <div class="card-label">Phone</div>
                                <div class="card-text">{{officer['phone']}}</div>
                            </div>
                            <div class="mt-10">
                                <div class="row">
                                    <div class="w-45">
                                        <div class="card-label">Gender</div>
                                        <div class="card-text">{{officer['gender']}}</div>
                                    </div>
                                    <div class="w-45">
                                        <a href="add_view_officer?officer_id={{officer['_id']}}" class="button">Edit</a>
                                    </div>
                                </div>

                            </div>
                            <div class="mt-10">
                                <div class="card-label">Date of Birth</div>
                                <div class="card-text">{{officer['dob']}}</div>
                            </div>
                            <div class="mt-10">
                                <div class="card-label">Address</div>
                                <div class="card-text">
                                    <div>{{officer['address']}}</div>
                                    <div>{{officer['city']}}, {{officer['state']}} - {{officer['zipcode']}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
        </div>
</div>
