{% include 'ahead.html' %}
<div class="form-title text-center card-header">Edit Vaccine Details</div>
<div class="card p-10 m-100">
    <form action="edit_vaccine_details_action" enctype="multipart/form-data">
        <input type="hidden" name="vaccine_id" value="{{vaccines['_id']}}">
        <div class="row space-around">
            <div class="w-45 row">
                <div class="mt-20">
                    <label for="name">Name :</label>
                    <input type="text" id="name"  name="name" class="w-100 p-5px br-radius-4" value="{{vaccines['name']}}" placeholder="Enter First Name" required>
                </div>
                <div class="mt-20">
                    <label for="about">About</label>
                    <input type="text" id="about"  name="about" class="w-100 p-5px br-radius-4" value="{{vaccines['about']}}" placeholder="Enter About" required>
                </div>
                <div>
                     <div>
                        <label for="is_prescription_needed">Is Prescription Required for this vaccine</label>
                        <input type="radio" id="is_prescription_needed" name="prescription" value="yes" required> <label for="is_prescription_needed">Yes</label>
                        <input type="radio" id="is_prescription_needed2" name="prescription" value="no" required> <label for="is_prescription_needed2">No</label>
                     </div>
                </div>
                <div class="mt-30">
                    <label for="price">Price :</label>
                    <input type="text" id="price"  name="price" class="w-100 p-5px br-radius-4" value="{{vaccines['price']}}" placeholder="Enter Price" required>
                </div>
            </div>
            <div class="text-center mt-30"><input type="submit" class="button" value="Edit Details"></div>
        </div>
    </form>
</div>