{% if session['role']== "patient"%}
    {% include 'phead.html' %}
{% endif %}
{% if session['role']== "doctor"%}
    {% include 'dhead.html' %}
{% endif %}
{% if session['role']== "admin"%}
    {% include 'ahead.html' %}
{% endif %}
<div>
    {% for appointment in appointments %}
        {% set vaccine=get_vaccine_by_vaccine_id (appointment['vaccine_id'])%}
        {% set patient=get_patient_by_patient_id(appointment['patient_id'])%}
        {% set slot=get_slot_by_slot_id(appointment['slot_id'])%}
            <div class=" m-auto mt-100 w-30">
                <div class="card bg-green">
                    {% if 'doctor_id' in appointments %}
                    {% set doctor=get_doctor_by_doctor_id(appointment['doctor_id']) %}
                    <div class="row mt-5">
                        <div>{{doctor['name']}}</div>
                        <div>{{doctor['phone']}}</div>
                    </div>
                    {% endif %}
                    <div class="mt-5">
                        <div>Appointment Bookes for:{{appointment['appointment_type']}}</div>
                    </div>
                    <div class="mt-5">
                        <div>Vaccine: {{vaccine['name']}}</div>
                    </div>
                    <div class="mt-5">
                        <div class="">{{appointment['appointment_date'].strftime("%d-%m-%Y")}}</div>
                    </div>
                    <div class="mt-5">
                        <div class="">Slot Number: {{slot['slot_number']}}</div>
                    </div>
                    <div class="mt-5">
                        <div class="">Slot timings:  {{slot['slot_start_time']}} - {{slot['slot_end_time']}}</div>
                    </div>
                    <div class="row mt-5">
                        <div>{{patient['name']}}</div>
                        <div>{{patient['phone_number']}}</div>
                    </div>
                    {% if 'officer_id' in appointment %}
                        {% set officer = get_officer_by_officer_id(appointment['officer_id']) %}
                        <div class="mt-5">
                            <div class="">{{officer['name']}}</div>
                        </div>
                    {% endif %}
                    <div class="mt-5">
                        <div class="">{{appointment['status']}}</div>
                    </div>
                    {% if appointment['status']=='Appointment Booked' %}
                        {% if session['role'] == 'patient' %}
                            <a href="cancel_appointment?appointment_id={{appointment['_id']}}"  class="link-1 mt-5" >Cancel Appointment</a>
                        {% else %}
                            {% if appointment['appointment_type']=='doctor' %}
                                {% if session['role'] == 'doctor' %}
                                    <div class="row">
                                        <div class="w-50 mt-5">
                                           <a href="write_prescription?appointment_id={{appointment['_id']}}"  class="link-1 bg-green" >Write Prescription</a>
                                        </div>
                                        <div class="w-50 mt-5">
                                           <a href="reject_appointment?appointment_id={{appointment['_id']}}"  class="link-1 bg-green">Reject</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="row">
                                    <div class="w-50 mt-5">
                                        <form action="assign_office">
                                            <input type="hidden" name="appointment_id" value="{{appointment['_id']}}">
                                            <label>Assign Officer</label>
                                            <select name="officer_id" required>
                                                {% for officer in officers %}
                                                    <option value="{{officer['_id']}}">{{officer['first_name']}} {{officer['last_name']}}</option>
                                                {% endfor %}
                                            </select>
                                            <input type="submit" value="Assign">
                                        </form>
                                    </div>
                                    <div class="w-50">
                                       <a href="reject_appointment?appointment_id={{appointment['_id']}}"  class="button-1 link-1 ml-100" >Reject</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if session['role'] == 'admin' %}
                        {% if appointment['status']=='Officer Assigned' %}
                            <a href="mark_as_vaccinated?appointment_id={{appointment['_id']}} "  class="link-1 bg-green">Mark As Vaccinated</a>
                        {% endif %}
                    {% endif %}
                    {% if vaccine['is_prescription_needed']=='yes'%}
                        {% set appointment2 = get_appointment_by_vaccine(vaccine['_id'], patient['_id']) %}
                        {% if appointment2!=None %}
                             <div class="mt-10"><a href="view_prescription?appointment_id={{appointment2['_id']}}" class="link-1 bg-green mt-10" >View Prescription</a></div>
                        {% endif %}
                    {% endif %}
                    <div class="text-end mt-10">
                        <a href="view_payments?appointment_id={{appointment['_id']}}"  class="link-1 bg-green" >View Payment</a>
                    </div>
                </div>
            </div>
    {% endfor %}
</div>